@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.dark {
    
    $enable-gradients: true;

    /* redefine theme colors for dark theme */
    $primary: #012345;
    $secondary: #111111;
    $success: #222222;
    $dark: #000;
    
    $theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "danger": $danger,
        "info": $indigo,
        "dark": $dark,
        "light": #aaa,
    );

    /* redefine theme color variables */
    @each $color, $value in $theme-colors {
        --#{$variable-prefix}#{$color}: #{$value};
    }
    
    $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
    
    @each $color, $value in $theme-colors-rgb {
        --#{$variable-prefix}#{$color}-rgb: #{$value};
    }

    $body-color: #eeeeee;
    $body-bg: #263C5C;
    
    --#{$variable-prefix}body-color: #{$body-color};
    --#{$variable-prefix}body-bg: #{$body-bg};

    --#{$variable-prefix}modal-color: #{$body-color};
    --#{$variable-prefix}modal-bg: #{$body-bg};


    .modal-content {
        background-color: #000;
        color: #fff;
      }
      
    @import "~bootstrap/scss/bootstrap";
}

/* this is generated
.dark {
    --bs-primary: #012345;
    --bs-secondary: #111111;
    --bs-success: #222222;
    --bs-danger: #dc3545;
    --bs-info: #6610f2;
    --bs-dark: #000;
    --bs-light: #aaa;
    --bs-primary-rgb: 1, 35, 69;
    --bs-secondary-rgb: 17, 17, 17;
    --bs-success-rgb: 34, 34, 34;
    --bs-danger-rgb: 220, 53, 69;
    --bs-info-rgb: 102, 16, 242;
    --bs-dark-rgb: 0, 0, 0;
    --bs-light-rgb: 170, 170, 170;
    --bs-body-color: #eeeeee;
    --bs-body-bg: #263C5C;
}
*/
